body{
    background-image: url("../Image/fond-ecran-ciel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

    .tlt {
        position:relative;
         text-align:center;
     }
     
     .tlt2{
        position:relative;
        text-align:center;
     }
