body{
        background-color: rgb(151, 151, 245);
        background-repeat: no-repeat;
        background-size: 100px 100px;
    }


    .tlt {
        position:relative;
         text-align:center;
     }
     
     .tlt2{
        position:relative;
        text-align:center;
     }
